<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <h1>{{question.question_text}}</h1>
    <h3>Some Choices:-</h3>
    <ul>
        {% for choices in question.choices_set.all %}
        <li>
            {{choices.choice_text}}
        </li>
        {% endfor %}
    </ul> -->
    <form action="{% url 'polls:votes' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h1>{{question.question_text}}</h1>
            </legend>
            {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
            {% endif %}
            {% for choices in question.choices_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choices.id}}">
            <label for="choice{{ forloop.counter }}">{{choices.choice_text}}</label>
            <br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="vote">
    </form>
</body>

</html>